body {
  background-image: url('assets/5747307011a29592cb7dedcf279a6e81.jpg');
}

div {
  background: #7f7f7f;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 100vw;
  min-width: fit-content;
}
